/* src/components/DestinationSearch/index.css */

.destination-search-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: black;
  font-size: 50px;
  font-family: 'Roboto';
  font-weight: bold;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  padding: 5px;
  background-color: #f1f5f9;
}

.input-search-container {
  background-color: #f1f5f9;
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;
  border-width: 0px;
  outline: hidden;
}
.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.destination-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
